body::-webkit-scrollbar {
    width: 0;
}

#main article {
    opacity: 100;
}

.cast-table {
    vertical-align: middle;
    width: 80vw;
    position: relative;
    left: -20vw;
}

.cast-tbody {
    -webkit-box-shadow: 0px 10px 30px 10px rgba(38,43,46,0.9); 
    box-shadow: 0px 10px 30px 10px rgba(38,43,46,0.9);
}